<!DOCTYPE html>
<htm lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
        <title>Bienvenidxs a Mercado Liebre</title>
    </head>

    <body>
        <header>
            <div class="main-header">
                <div class="top-header">
                    <div class="logo">
                        <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                    </div>
                    <form class="form-buscador" action="#" method="GET">
                        <input class="busqueda" type="text" placeholder="Buscar productos, marcas y más">
                        <i class="fa fa-search"></i>
                    </form>
                </div>
                <div class="text-header">
                    <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>
            <nav class="navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <h3>Registrarse</h3>
        <form action="/" method="POST" class="create-form">
            <div class="control-form"> 
                <label for="nombre">Nombre y apellido:</label>
                <input type="text" name="nombre" id="nombre" class="control" />
            </div>
            <div class="control-form" >
                <label for="nombre">Nombre de usuario:</label>
                <input type="text" name="nombre" id="nombre" class="control"  />
            </div>
            <div class="control-form">
                <label for="fecha">Fecha de nacimiento:</label>
                <input type="date" name="fecha" id="fecha" class="control" />
            </div>
            <div class="control-form">
                <label for="address">Domicilio:</label>
                <input type="address" name="address" id="address" class="control"  />
            </div>
            <div class="control-form">
                <label>Perfil del usuario:</label>
                <input type="radio" value="comprar" name="perfileuser" id="perfile" />
                <label for="perfile">Comprar </label>
                <input type="radio" value="Vender" name="perfileuser" id="perfile" />
                <label for="perfile">Vender</label>
            </div>
            <div class="control-form">
                <label>Categorías de interes:</label>
                <input type="checkbox" value="electro" name="electro" id="category" />
                <label for="category">Electro </label>
                <input type="checkbox" value="moda" name="moda" id="category" />
                <label for="category">Moda</label>
                <input type="checkbox" value="hogar" name="Hogar" id="category" />
                <label for="category">Hogar</label>
                <input type="checkbox" value="jugeteria" name="jugeteria" id="category" />
                <label for="category">Jugeteria</label>
                <input type="checkbox" value="vida sana" name="vida sana" id="category" />
                <label for="category">Vida sana</label>
            </div>
            <div class="control-form">
                <label>Selecciona una foto de usuario:</label>
                <input type="file" name="avatar" accept=".jpg" class="control" >
            </div>
            <div class="control-form">
                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" class="control" >
            </div>
            <div class="control-form">
                <label for="password">Confirmar contraseña:</label>
                <input type="password" name="password" id="password" class="control" >
            </div>
            <div class="control-form ">
                <button type="submit"><a href="/" class="button-form">Registrarme</a></button>
            </div>
            <div class="control-form">
                <button type="reset" class="button-form">Borrar</button>
            </div>
        </form>
        <footer>
            <section class="container-footer">
                <div>
                    <i class="fa-solid fa-credit-card icon"></i>
                    <h3 class="text-footer">Pagá con tarjeta o en efectivo</h3>
                    <div class="paragraph-footer">
                        <p> Con Mercado Liebre Cash, tenés cuotas sin </p>
                        <p> interés con tarjeta o efectivo en puntos de </p>
                        <p> pago. ¡Y siempre es seguro! </p>
                    </div>
                </div>
                <div>
                    <i class="fa-solid fa-gift icon"></i>
                    <h3 class="text-footer">Envío gratis desde $ 2.500</h3>
                    <div class="paragraph-footer">
                        <p> por estar registrad@ en Mercado Liebre </p>
                        <p> tenés envíos gratis en miles de productos. Es </p>
                        <p> un beneficio de Mercado Puntos.</p>
                    </div>
                </div>
                <div>
                    <i class="fa-solid fa-user-shield icon"></i>
                    <h3 class="text-footer">Seguridad, de principio a fin</h3>
                    <div class="paragraph-footer">
                        <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre,</p>
                        <p>no hay nada que no puedas hacer, porque estás</p>
                        <p>siempre protegid@.</p>
                    </div>
                </div>
            </section>
            <p class="copyrigth">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
    </body>

    </html>

